[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = git@github.com:Ssssix40/hugo-bearblog.git
[submodule "themes/hugo-bearcub-clente"]
	path = themes/hugo-bearcub-clente
	url = https://github.com/clente/hugo-bearcub
